.Box-model{
border: 6px;
width: 20%;
length: 50%;
background-color:lightblue;
font-style: normal;
font-weight: bold;
margin: auto;
float: none;
}
.column{
  float: left;
  width:700px;
  padding:6px;
  font-size: 14;
  background-color: lightblue;
  margin: auto;
}
/* img{
  float: left;
margin: auto;
} */
